body, html{
    height: 100%;
}
.cont {
    height: 60%;
}
#game-name {
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}
.cont > .btn {
    border-radius: 50%;
    width:100px;
    height: 100px;
}
#reset {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}